.title {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.5;	
}

.item {
	display: inline-block;
	width: 100%;
	max-width: 312px;
}

.item:not(:last-child) {
	margin-inline-end: 24px;
}

.view {
	color: #00b207;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
}

.view-link::after {
	content: "";
	width: 15px;
	height: 12px;
	margin-inline-start: 5px;
	background: url("../img/organic_image/green-arrow.svg") 0 0 / contain no-repeat;
}

.view-link:hover {
	text-decoration: underline;
}