/* Google Fonts */
						/* Poppins */
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700,800,900&display=swap");
						/* Roboto */
/* @import url("https://fonts.googleapis.com/css?family=Roboto:.regular,500,600,700,800,900&display=swap"); */
						/* Tektur */
@import url("https://fonts.googleapis.com/css?family=Tektur:regular,500,600,700,800,900&display=swap");
/* Local Fonts */
/* @import url("fonts.css"); */
/* Reset style */
@import url("reset.css");

.ukraine-article {
	font-family: "Poppins", sans-serif;
	/* font-family: "Roboto" , sans-serif; */
	/* font-family: "Tektur" ,sans-serif; */
}
.ukraine-article__title {
	color: blueviolet;
	font-size: 36px;
	font-weight: 900;
}
.ukraine-article__text {
	color: brown;
	font-size: 20px;
	font-weight: 500;
}
.ukraine-article__subtitle {
	color: cadetblue;
	font-size: 28px;
	font-weight: 700;
}

.ecobazar-article {
	font-family: "Poppins", sans-serif;
}
.ecobazar-article__subtitle {
	color: #1A1A1A;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.5;
}
.ecobazar-article__text {
	color: #808080;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.7;
}
.header,
.footer {
	font-family: "Tektur", sans-serif;
	text-align: center;
	font-size: 50px;
	font-weight: 700;
	color: #fff;
	background-color: brown;
	padding-block: 50px;
}
