@import url("reset.css");
@import url("components.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url("fonts.css");


.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

.ecobazar {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	color: black;
}

.products-ecobazar__container {
	max-width: 1350px;
	padding-inline: 15px;
	margin-inline: auto;
}

.blossomia {
	font-family: "KoPub Batang", sans-serif;
	font-size: 18px;
	color: black;
}

.blossomia__container {
	max-width: 1230px;
	padding-inline: 15px;
	margin-inline: auto;
}

.header, .footer {
	padding-block: 50px;
	background-color: brown;
	text-align: center;
	font-size: 50px;
	text-transform: uppercase;
}

.ecobazar {
	padding-block: 60px;
}

.products-ecobazar__header {
	margin-block-end: 36px;
	text-align: center;
}

.products-ecobazar__label {
	color: rgba(0, 179, 7, 1);
	text-transform: uppercase;
	font-weight: 500;
	line-height: 1;
	font-size: 14px;
	margin-block-end: 8px;
}

.products-ecobazar__title {
	font-size: 36px;
	font-weight: 600;
	text-transform: capitalize;
}

.products-ecobazar__cards {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.products-ecobazar__top-block {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
	gap: 20px;
}

.card {
	border: 1px solid rgba(230,230,230, 1);
	transition: all 0.4s;
	position: relative;
}

.card__actions {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 16px;
	right: 16px;

	transition: opacity 0.4s ease, visibility .4s ease;
	opacity: 0;
	visibility: hidden;
}

.banner, .second-banner {
	position: relative;
}

.banner__sale, .second-banner__sale {
	text-align: center;
	top: 20px;
	z-index: 50;
	position: absolute;
	width: 100%;
}

.banner__label {
	font-size: 12px;
	font-weight: 500;
	line-height: 1.5;
	text-transform: uppercase;
}
.banner__title{
	color: rgba(0, 179, 7, 1);
	font-size: 32px;
	font-weight: 600;
	line-height: 1.5;
	margin-block-end: 4px;
}

.banner__image {
	height: 100%;
}

.banner__image img{
	aspect-ratio: 248/335;
	height: 100%;
}

.card__info {
	padding: 12px 16px 16px 16px;
	display: flex;
	justify-content: space-between;
}

.card__title {
	font-size: 14px;
	line-height: 1.5;
}
.card__price {
	font-weight: 500;
	line-height: 1.5;
	margin-block-end: 3px;
}

.bottom-block__category {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(312px, 1fr));
	gap: 24px;
}

.bottom-block__label {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.5;
	
	margin-block-end: 16px;
}

.bottom-block__items {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.bottom-block__item {
	display: flex;
	align-items: center;
	border: 1px solid rgba(230,230,230, 1);
	transition: all 0.4s;
}

.bottom-block__image {
	padding: 5px;
	aspect-ratio: 1 / 1;
	flex: 0 0 102px;
}

.bottom-block__image img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.bottom-block__info {
	position: relative;
	align-self: center;
	padding: 25px 12px;
}

.bottom-block__actions {
	visibility: hidden;
	opacity: 0;
	background-color: white;
	position: absolute;
	z-index: 13;
	display: flex;
	gap: 12px;
	bottom: 20%;

	transition: all 0.4s;
}

.bottom-block__wishlist {
	margin: 0;
}

.bottom-block__title {
	font-size: 14px;
	line-height: 1.5;
	color: rgba(77, 77, 77, 1);
}

.bottom-block__rating {
	transition: all 0.4s;
}

.bottom-block__price {
	font-weight: 500;
	line-height: 1.5;
	transition: all 0.4s;
}

.second-banner {
	width: 100%;
	height: 100%;
}

.second-banner__image img {
	aspect-ratio: 312 / 423;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.second-banner__sale {
	top: 32px;
	align-self: center;
}

.second-banner__label {
	font-size: 12px;
	font-weight: 500;
	line-height: 1.5;
	text-transform: uppercase;
	margin-block-end: 8px;
}

.second-banner__title {
	font-size: 32px;
	font-weight: 500;
	line-height: 1.2;
	text-align: center;
	margin-block-end: 16px;
	padding-inline: 15px;
}

.second-banner__title span {
	font-weight: 600;
}

@media (max-width: 1199.98px){
	.bottom-block__category {
		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	}
}

@media (max-width: 991.98px) {
	.bottom-block__info {
		padding: 16px 8px;
	}
	
	.bottom-block__rating {
		display: none;
	}
	
	.card__actions {
		visibility: visible;
		opacity: 1;
	}
	
	.bottom-block__actions {
		position: relative;
		opacity: 1;
		visibility: visible;
		bottom: 0px;
	}
	
	.bottom-block__bag {
		background-image: url("../img/svg/bag-hover.svg");
		background-color: rgba(0, 179, 7, 1);
		
	}
	
	.second-banner__image {
		aspect-ratio: 1 / 1;
		width: 100%;
		height: 100%;
	}
	
	.second-banner__image img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 767.98px) {
	.products-ecobazar__top-block {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}

	.bottom-block__category {
		grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	}
	
	.bottom-block__item {
		justify-content: center;
		gap: 0px;
	}
	
	.bottom-block__actions {
		visibility: visible;
		opacity: 1;
	}
	
	.bottom-block__info {
		padding: 12px 8px;
	}

	.bottom-block__rating {
		display: none;
	}
	
	.bottom-block__actions {
		position: relative;
		opacity: 1;
		visibility: visible;
		bottom: 0px;
	}
}

@media (max-width: 449.98px) {
	.products-ecobazar__top-block {
		grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
		gap: 10px;
	}
}
@media (max-width: 479.98px) {
	.bottom-block__category {
		grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
	}

	.bottom-block__actions {
		gap: 7px;
	}

	.bottom-block__actions * {
		width: 35px;
		height: 35px;
	}
}

@media (max-width: 399.98px) {
	.products-ecobazar__top-block {
		grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
	}
}

@media (any-hover: hover) {
	.card:hover .card__actions {
		visibility: visible;
		opacity: 1;
	}

	.card:hover {
		box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
		border-color: rgba(44, 116, 47, 1);
	}
	
	.card:hover [class*="__bag"] {
		background-image: url("../img/svg/bag-hover.svg");
		background-color: rgba(0, 179, 7, 1);
	}

	.bottom-block__item:hover [class*="__bag"] {
		background-image: url("../img/svg/bag-hover.svg");
		background-color: rgba(0, 179, 7, 1);
	}

	.card:hover [class*="__bag"]:hover {
		background-color: rgba(44, 116, 47, 1);
	}

	.bottom-block__item:hover [class*="__bag"]:hover {
		background-color: rgba(44, 116, 47, 1);
	}

	.bottom-block__item:hover {
		box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
		border-color: rgba(44, 116, 47, 1);
	}

	.bottom-block__item:hover .bottom-block__title{
		color: rgba(44, 116, 47, 1);
	}

	.bottom-block__item:hover .bottom-block__price {
		opacity: 0;
		visibility: hidden;
	}

	.bottom-block__item:hover .bottom-block__rating {
		opacity: 0;
		visibility: hidden;	
	}

	.bottom-block__item:hover .bottom-block__actions {
		opacity: 1;
		visibility: visible;
	}

	.button:hover::after {
		transform: translateX(12px);
	}

	.button:hover {
		border-color: green;
	}
}

/* ------------------------------------------------------------------------------------ */

.blossomia {
	padding-block: 50px;
	background-color: rgba(248, 243, 236, 1);
}

.blossomia__items {
	display: flex;
	align-items: flex-start;
	gap: 30px;
}

.blossomia__side-items {
	display: flex;
	flex: 0 0 33.333%;
	flex-direction: column;
	gap: 14px;
}

.blossomia__main-items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 37px 29px;
	gap: 14px;
}

.blossomia__title {
	padding-block: 50px 40px;
	font-size: 60px;
	font-weight: 300;
	line-height: 1.1;
	grid-column: -1 / 1;
}

.item {
	display: flex;
	flex-direction: column;
	gap: 14px;
}

.item__image {
	position: relative;
	aspect-ratio: 401 / 427;
	overflow: hidden;
	width: 100%;
}

.item__image img {
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 100%;
	transition: transform 0.6s;
}

.item__info {
	display: flex;
	justify-content: space-between;

	gap: 30px;
}

.item__name {
	position: relative;
}

.item__name::before {
	content: "";
	position: absolute;
	width: 0%;
	height: 1px;
	bottom: 0;
	left: 50%;
	background-color: rgb(0, 0, 0);
	transition: all 0.4s;
}

.item__name::after {
	content: "";
	position: absolute;
	width: 0%;
	height: 1px;
	bottom: 0;
	right: 50%;
	background-color: rgb(0, 0, 0);
	transition: all 0.4s;
}

.item__buttons {
	display: flex;
	gap: 20px;

	padding-inline-end: 6px;
}

.item__wlist {
	width: 22px;
	height: 20px;
	background: url("../img/catalog-floral/wishlist.svg") center / contain no-repeat;
}

.item__wlist,
.item__cart {
	transition: transform 0.4s;
}

.item__cart {
	width: 23px;
	height: 23px;
	
	background: url("../img/catalog-floral/cart.svg") center / contain no-repeat;
}

.blossomia__link {
	display: flex;
	max-width: 187px;
	gap: 10px;
	font-size: 17px;
	line-height: 1.2;
	padding: 9px 30px;
	background-color: rgba(219, 204, 186, 1);
	align-items: center;
	outline-offset: 10px;
	outline: 1px solid rgba(219, 204, 186, 1);
	
	margin-block-start: 55px;
	margin-inline: 11px;
	flex-wrap: nowrap;
}

.blossomia__link a {
	display: inline-flex;
}

.blossomia__link::after {
	content: "";
	width: 23px;
	height: 14px;
	margin-inline-end: 3px;
	background: url("../img/catalog-floral/right-arrow.svg") center / contain no-repeat;
	transition: transform 0.4s;
}

@media (max-width: 991.98px) {
	.blossomia__title {
		font-size: 40px;
	}
	.blossomia__main-items {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
	.blossomia__link {
		width: 100%;
	}
}

@media (max-width: 767.98px) {
	.blossomia__items {
		flex-direction: column-reverse;
	}

	.blossomia__side-items {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		flex: 1 1 auto;
		gap: 14px;
	}

	.blossomia__side-items .item {
		flex: 0 1 48%;
	}

	.blossomia__main-items {
		grid-template-columns: repeat(auto-fit, minmax(38%, 1fr));
	}
	.blossomia__link {
		justify-content: center;
		max-width: 50%;
		padding-block: 20px;
	}
}

@media (max-width: 479.98px) {
	.blossomia__title {
		font-size: 30px;
	}

	.blossomia__side-items .item {
		flex: 1 1 auto;
	}

	.blossomia__main-items {
		grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
		justify-content: space-around;
	}

	.blossomia__link {
		justify-content: center;
		max-width: 100%;
	}
}

@media (any-hover: hover) {
	.item__name:hover::before,
	.item__name:hover::after {
		width: 50%;
	}

	.item__image img:hover {
		transform: scale(1.1);
	}

	.item__wlist:hover,
	.item__cart:hover {
		transform: scale(1.2);
	}	

	.blossomia__link:hover.blossomia__link::after {
		transform: translateX(10px) rotateX(360deg);
	}

	.blossomia__link:hover {
		outline-color: rgba(44, 44, 44, 1);
	}
}