@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
	font-family: "Poppins", sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

.header, 
.footer {
	background-color: brown;
	padding-block: 25px;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
}

[class*="__container"] {
	max-width: 1350px;
	padding-inline: 15px;
	margin-inline: auto;
}

.ecobazar__title {
	font-size: 50px;
	text-align: center;
}

.featured {
	padding-block-end: 60px;
}

.featured__header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;
	margin-block-end: 32px;
}

.featured__title {
	font-size: 32px;
	font-weight: 600;
	line-height: 1.2;
}

.featured__link {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
}

.link {
	display: inline-flex;
	color: #00B207;
	gap: 12px;
	align-self: center;
	z-index: 10;
}


.link::after {
	flex-shrink: 0;
	content: "";
	background: url("../img/arrow.svg") center / contain no-repeat;
	flex-basis: 15px;
}

.item__image {
	transition: all 0.4s;
}

.item__image img {
	aspect-ratio: 254 / 230;
}

.featured__items {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
}

.item {
	position: relative;
	display: flex;
	flex-basis: calc(20% + 1px);
	flex-direction: column;
	height: 100%;
	border: 1px solid #E6E6E6;
	padding: 5px;
	margin: 0px -1px -1px 0px;
	transition: all 0.4s;
}

.item__sale {
	position: absolute;
	top: 11px;
	left: 11px;
	z-index: 6;
}

.action {
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 6px;
	
	top: 11px;
	right: 11px;
	z-index: 5;
}

.action__link {
	width: 40px;
	height: 40px;
	background-color: white;
	border-radius: 50%;
	border:  1px solid #F2F2F2;
	transition: background-color 0.4s;
	stroke: black;
}

.action__link svg {
	vertical-align: middle;
}

.item__body {
	display: flex;
	padding: 12px;
	justify-content: space-between;
	gap: 10px;
}

.item__title {
	font-size: 14px;
	line-height: 1.5;
	transition: all 0.4s;
}

.item__prices {
	display: flex;
}

.item__price {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	margin-block-end: 6px;
}

.item__price--old {
	color: #999;
	text-decoration-line: line-through;
}

.item__button {
	transition: all 0.4s;
	width: 40px;
	height: 40px;
	background-color: #F2F2F2;
	border-radius: 50%;
	align-self: center;
	stroke: black;
}

.item::before {
	content: "";
	position: absolute;
	border: 1px solid #2C742F;
	box-shadow: 0 0 12px 0 rgba(32, 181, 38, 0.32);
	top: -1px;
	bottom: -1px;
	left: -1px;
	right: -1px;
	z-index: 5;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.4s;
}
/* ------------------------------ */

.latest-news {
	padding-block-end: 60px;
}

.latest-news__header {
	margin-block-end: 32px;
}

.latest-news__title {
	font-size: 32px;
	font-weight: 600;
	line-height: 1.2;
	text-align: center;
}

.latest-news__posts {
	display: flex;
	gap: 24px;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.post {
	position: relative;
	flex: 0 1 calc(100% / 3 - ((24px * (3 - 1)) / 3));
	border: 1px solid #E6E6E6;
	border-radius: 10px;
}

.post__date {
	position: absolute;
	width: 58px;
	height: 58px;
	background-color: rgba(255, 255, 255, 0.85);
	border-radius: 4px;
	text-align: center;
	align-content: center;
	left: 24px;
	bottom: 24px;
	z-index: 10;
}

.post__day {
	color: #1A1A1A;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.5;
}

.post__month {
	color: #808080;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.post__image {
	width: 100%;
	overflow: hidden;
	position: relative;
	aspect-ratio: 424/324;
	border-radius: 10px 10px 0px 0px;
	
}

.post__image img {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: transform 0.4s;
}

.post__content {
	padding: 24px;
}

.post__meta {
	display: flex;
	gap: 16px;
	flex-wrap: wrap;
	font-size: 14px;
	line-height: 1.5;
	margin-block-end: 8px;
}

.post__category,
.post__author,
.post__comments {
	color: #4D4D4D;
	display: flex;
	gap: 4px;
}

.post__author span {
	color: #808080;
}

.post__meta > *::before {
	content: "";
	width: 20px;
	height: 20px;
}

.post__category::before {
	background: url("../img/tag-food.svg") center / contain no-repeat;
}

.post__author::before {
	background: url("../img/tag-user.svg") center / contain no-repeat;
}

.post__comments::before {
	background: url("../img/tag-comments.svg") center / contain no-repeat;
}

.post__title {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.5;
	margin-block-end: 20px;
}

.post__link {
	color: #00B207;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.2;
}

@media(any-hover: hover),
(pointer: fine) {
	.item:hover::before,
	.item:hover {
		opacity: 1;
	}
	
	.action__link:hover {
		background-color: #00B207;
		stroke: white;
		border-color: #00B207;
	}
	
	.item:hover .item__button {
		stroke: white;
		background-color: #00B307;
	}
	
	.item:hover .item__button:hover {
		background-color: #2C742F;
	}
	
	.item:hover .item__image:hover {
		transform: scale(1.03);
	}

	.item__title:hover {
		color: #2C742F;
	}
	
	.link:hover::after{
		transform: rotateY(360deg);
		transition: all 0.4s;
	}
	
	.link:hover {
		text-decoration: underline;
	}
	
	.item__rating img:hover {
		transform: scale(1.03);
	}
	
	.post:hover {
		box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.08);
		border: 1px solid white;
	}

	.post:hover .post__date {
		background-color: rgba(255, 255, 255);
	}

	.post__category:hover,
	.post__author:hover,
	.post__comments:hover {
		color: #00B207;
	}
	
	.post__title:hover {
		color: #2C742F;
	}

	.post__image img:hover {
		transform: scale(1.05);
	}
}

@media (max-width: 1199.98px) {
	.item {
		flex: 0 0 calc(25% + 1px);
	}

	.post {
		flex: 0 1 calc(33% + 1px);
	}
}

@media (max-width: 991.98px) {
	.item {
		flex: 0 0 calc(33% + 1px);
	}
}

@media (max-width: 549.98px) {
    .post {
        flex: 0 1 100%;
    }
}

@media (max-width: 767.98px) {
	.item {
		flex: 0 0 calc(50% + 1px);
	}
}

@media (max-width: 479.98px) {
	.item {
		flex: 0 0 calc(98% + 1px);
	}
}