/* Сброс стилей */
@import url(reset.css);

h1, .title {
	color: blueviolet;
}
#someitem {
	color: olive;
}
.article {
	text-decoration-line: underline;
	color: blue;
}
.text1 {
	color: green;
}
div {
	color: red;
}
div.text2 {
	color: salmon;
}
#article106 {
	color: rgb(255, 0, 200);
}
#article108 {
	color: cornflowerblue;
}
.text3 {
	color: gold;
}