@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

.wrapper {
	overflow: hidden;
	min-height: 100%;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: dimgrey;
}

.header,
.footer {
	font-size: 50px;
	text-align: center;
	padding-block: 100px;
}

.container {
	max-width: 1930px;
	padding-inline: 15px;
	margin-inline: auto;
	perspective: 500px;
}

.cubes {
	font-size: 0;
	text-align: center;

	padding-block: 50px;
	background-color: antiquewhite;
	border: 5px solid gray;
}

.cube {
	display: inline-block;
	width: 300px;
	height: 300px;
	
	text-align: center;
	font-size: 22px;
	
	background-color: rgba(165, 42, 42, 0.5);
	border: 3px solid black;
	border-radius: 30%;
	
	transition: all 0.5s;
}

.cube:not(:last-child) {
	margin-block-end: 20px;
}

.cube div {
	padding-block: calc(50% - 11px);
}

.cube:not(:last-child) {
	margin-inline-end: 20px;
}

.translatex:hover {
	transform: translateX(60px);
}

.translatey:hover {
	transform: translateY(-60px);
}

.translate:hover {
	transform: translate(20%, 30%);
}

.scale:hover {
	transform: scale(1.5);
}

.rotate:hover {
	transform: rotate(25deg);
}

.rotatex:hover {
	transform: rotateX(60deg);
}

.rotatey:hover {
	transform: rotateY(60deg);
}

.skewx:hover {
	transform: skewX(20deg);
}

.skewy:hover {
	transform: skewY(30deg);
}

.skew:hover {
	transform: skew(30deg, 30deg);
}

/* ------CAR------ */

.car {
	position: relative;

	margin-block-start: 50px;
	margin-inline: auto;
	transform: rotate3d(1, 0, 0, -5deg);
	width: 1000px;
	height: 250px;
	background: linear-gradient(180deg,rgb(185, 179, 179) 50%,rgb(170, 24, 24) 50%);
	box-shadow: 0px 0px 10px 5px black;
	border-radius: 50px;
	
	transition: all 7s;
}

.car-go {
	padding-block-start: 50px;
	text-align: center;
}

.car-go a{
	margin-inline: auto;
	font-size: 32px;

	border: 3px solid black;
	background-color: rgb(0, 153, 255);
	padding-block: 20px;
	padding-inline: 40px;
}

.car-go:hover + .wheel{
	transform: rotate(360deg);
}
.car-go:hover + .car {
	transform: translate(3000px);
}

.wheels {
	font-size: 0;
	position: absolute;

	top: 200px;
	left: 250px;

	z-index: 50;
	
}

.wheel {
	display: inline-block;
	position: relative;
	width: 100px;
	height: 100px;

	background-color: rgb(75, 52, 52);
	border-radius: 50%;

	transition: all 0.8s;

	box-shadow: 0px 0px 4px 0px black;
}

.wheel::after {
	content: "";

	position: absolute;
	width: 50px;
	height: 50px;

	top: 50%;
	left: 50%;
	background-color: gray;
	border: 15px dashed dimgray;
	border-radius: 50%;

	transform: translate(-50%, -50%);
}

.wheel:hover {
	transform: rotate(360deg);
}

.wheels-arch {
	font-size: 0;
	position: absolute;

	top: 190px;
	left: 240px;
}

.wheel-arch {
	display: inline-block;

	width: 120px;
	height: 60px;

	background-color: rgb(0, 0, 0);
	border-radius: 50px 50px 0 0;
}

.wheel:not(:last-child) {
	margin-inline-end: 450px;
}

.wheel-arch:not(:last-child) {
	margin-inline-end: 430px;
}

.doors {
	font-size: 0;
	position: absolute;
	perspective: 500px;
	top: 30px;
	left: 100px;
}

.door {
	display: inline-block;
	width: 90px;
	height: 220px;
	position: relative;

	background: linear-gradient(180deg,rgb(185, 179, 179) 95px,rgb(170, 24, 24) 95px);
	border: 1px solid black;
	box-shadow: 0px 0px 4px 0px black;
	border-radius: 10px 10px 0 0;

	transform-origin: right;
	transition: all 0.5s;
	
}

.door:hover {
	transform: rotateY(30deg);
}

.door:first-child:hover {
	transform: rotateY(80deg);
}

.door:not(:last-child) {
	margin-inline-end: 450px;
}

.doors-window {
	font-size: 0;
	position: relative;

	top: 40px;
	left: 110px;
}

.door-window {
	display: inline-block;
	position: absolute;
	width: 70px;
	height: 80px;
	background-color: aqua;
	border-radius: 10px;
	border: 1px solid black;

	left: 9px;
	top: 9px;
}

.door-window:not(:last-child) {
	margin-inline-end: 470px;
}

.windows {
	font-size: 0;
	position: relative;

	left: 205px;
	top: 40px;
}

.window {
	display: inline-block;

	width: 100px;
	height: 80px;

	border-radius: 10px;
	border: 1px solid black;
	background-color: aqua;
}

.window {
	margin-inline-end: 5px;
}

.window:nth-child(4) {
	margin-inline-end: 120px;
}

.window-front {
	width: 50px;
	height: 80px;

	position: relative;

	background-color: aqua;

	left: 950px;
	top: -40px;

	border-block: 1px solid black;
	border-left: 1px solid black;
	border-radius: 10px 4px 0px 10px;
}

.window-rear {
	position: relative;

	width: 85px;
	height: 80px;

	background-color: aqua;

	bottom: 120px;

	border-block: 1px solid black;
	border-right: 1px solid black;
	border-radius: 4px 10px 10px 0;
}

.bumpers {
	font-size: 0;
	position: relative;
	
	left: -10px;
	bottom: 40px;
}

.bumper {
	display: inline-block;

	width: 30px;
	height: 20px;
	background-color: white;

	border: 1px solid black;
	border-radius: 0 10px 10px 0;
}


.bumper:last-child {
	position: relative;
	left: 960px;
}

.bumper:first-child {
	transform: rotate(-180deg);
}

.headlight {
	width: 20px;
	height: 20px;
	position: relative;
	background: linear-gradient(90deg,rgba(170, 24, 24, 1) 90%, rgba(235, 221, 221, 1) 90%);

	bottom: 90px;
	left: 990px;

	border: 1px solid black;
	border-radius: 0 6px 6px 0;
}

.headlight:hover{
	background: linear-gradient(90deg,rgba(170, 24, 24, 1) 90%, rgba(224, 197, 43, 1) 90%);
	box-shadow: 200px 30px 100px 100px yellow;
}

.rear-light {
	width: 20px;
	height: 30px;

	position: relative;

	bottom: 120px;
	right: 10px;
	background: linear-gradient(90deg,rgba(235, 221, 221, 1) 10%, rgba(170, 24, 24, 1) 10%);

	border: 1px solid black;
}

.rear-light:hover {
	background: linear-gradient(90deg,rgba(255, 0, 0, 1) 10%, rgba(170, 24, 24, 1) 10%);
	box-shadow: -200px 30px 100px 100px red;
}