@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900&display=swap");
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.header {
	font-size: 100px;
	text-align: center;
	background-color: gray;
	color: brown;
}
.portfolio-template {
	font-family: "Epilogue", sans-serif;
	background-color: #FDF0E9;
	padding-block: 75px;
}
[class*="__container"] {
	max-width: 1200px;
	padding-inline: 15px;
	margin-inline: auto;
}
[class*="__head"] {
	color: #EF6D58;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 3px;
	text-transform: uppercase;
}
[class*="__title"] {
	color: #391400;
	text-transform: capitalize;
	font-size: 56px;
	font-weight: 800;
	line-height: 64px;
	letter-spacing: -1px;
}
[class*="__subtitle"] {
	color: #391400;
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
}
[class*="__subject"] {
	color: #391400;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
}
[class*="__text"] {
	color: #391400a3;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
}
[class*="__btn"] {
	color: #391400;
	background-color: #FFF;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
	padding: 13px 33px 11px;
	border-radius: 13px;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	transition: all 0.5s;
}
[class*="__btn"]:hover {
	color: #FFF;
	background-color: #EF6D58;
}
[class*="--small"] {
	font-size: 40px;
	font-weight: 800;
	line-height: 48px;
}
.logo {
	padding-block-end: 75px;
	border-block-end: 1px solid #F3D1BF;
	font-size: 0;
}
.logo > * {
	display: inline-block;
	vertical-align: middle;
}
.logo__image img {
	width: 100%;
}
.logo__image:not(:last-child) {
	margin-inline-end: 141px;
}
.about {
	margin-block-start: 100px;
	margin-block-end: 160px;
}
.about__body {
	font-size: 0;
}
.about__body > * {
	display: inline-block;
	vertical-align: middle;
}
.about__image {
	margin-inline-end: 130px;
}
.about__image img {
	width: 100%;
}
.text-about {
	max-width: 470px;
}
.text-about > *:not(:last-child) {
	margin-block-end: 20px;
}
.successes {
	margin-block-end: 140px;
}
.successes__cards {
	font-size: 0;
}
.successes__cards > * {
	display: inline-block;
	vertical-align: middle;
}
.successes__cards {
	border: 1px solid #F3D1BF;
	border-radius: 10px;
}
.successes__card {
	max-width: 33.333%;
	width: 100%;
	padding: 45px 38px;
	text-align: center;
	border-inline: 1px solid #F3D1BF;
}
.successes__card--border-zero {
	border-inline: 0;
}
.successes__title {
	margin-block-end: 13px;
}
.work {
	margin-block-end: 100px;
}
.work__body {
	font-size: 0;
}
.work__body > * {
	display: inline-block;
	vertical-align: middle;
}
.text-work {
	max-width: 470px;
	vertical-align: top;
	margin-inline-end: 130px;
}
.text-work > *:not(:last-child) {
	margin-block-end: 25px;
}
.list-work {
	margin-block-start: 53px;
}
.list-work__item {
	font-size: 0;
}
.list-work__item > * {
	display: inline-block;
	vertical-align: middle;
}
.list-work__item:not(:last-child) {
	margin-block-end: 20px;
}
.list-work__number {
	width: 47px;
	height: 80px;
	color: #391400;
	font-size: 72px;
	font-weight: 800;
	line-height: 80px;
	margin-inline-end: 50px;
}
.video {
	border-block-start: 1px solid #F3D1BF;
	padding-block-start: 120px;
	margin-block-end: 215px;
}
.video__preview {
	margin-inline-end: 130px;
}
.video__body {
	font-size: 0;
}
.video__body > * {
	display: inline-block;
	vertical-align: middle;
}
.video__preview img {
	width: 100%;
}
.text-video {
	max-width: 470px;
}
.text-video__head {
	margin-block-end: 15px;
}
.text-video__title {
	margin-block-end: 25px;
}
.features {
	margin-block-end: 200px;
}
.features__body {
	font-size: 0;
}
.features__body > * {
	display: inline-block;
	vertical-align: middle;
}
.text-features {
	max-width: 470px;
	margin-inline-end: 170px;
}
.text-features > *:not(:last-child) {
	margin-block-end: 25px;
}
.text-features__items > *:not(:last-child) {
	margin-block-end: 16px;
}
.text-features__item::before {
	content: "";
	width: 32px;
	height: 32px;
	background: url("../img/portfolio-template/check.svg") 0 0 / 32px no-repeat;
	padding-inline-start: 48px;
	margin-block-end: -10px;
}
.features__image img{
	width: 100%;
}
.features-skill {
	margin-block-end: 210px;
}
.features-skill__body {
	font-size: 0;
}
.features-skill__body > * {
	display: inline-block;
	vertical-align: middle;
}
.text-features-skill {
	max-width: 370px;
	margin-inline-end: 130px;
}
.text-features-skill > *:not(:last-child) {
	margin-block-end: 30px;
}
.block-features-skill {
	font-size: 0;
}
.block-features-skill > * {
	display: inline-block;
	vertical-align: middle;
}
.first-block__image {
	padding: 24px;
	width: 80px;
	height: 80px;
	background-image: url("../img/portfolio-template/oval.svg");
	margin-block-end: 40px;
}
.first-block {
	max-width: 335px;
	background-color: #FFF;
	padding: 48px 48px 46px 48px;
	border: 1px solid #F3D1BF;
	border-radius: 5px 5px 0px 5px;
}
.first-block__subject, .second-block__subject {
	margin-block-end: 20px;
}
.second-block {
	max-width: 335px;
	padding: 105px 48px 46px 48px;
	vertical-align: bottom;
	border-block: 1px solid #F3D1BF;
	border-inline-end: 1px solid #F3D1BF;;
	border-radius: 0px 10px 10px 0px;
}
.service {
	margin-block-end: 140px;
}
.service__body {
	font-size: 0;
}
.service__body > * {
	display: inline-block;
	vertical-align: middle;
}
.service__image {
	margin-inline-end: 120px;
}
.text-service {
	max-width: 470px;
}
.text-service > *:not(:last-child) {
	margin-block-end: 30px;
}
.approach {
	font-size: 0;
}
.approach > * {
	display: inline-block;
	vertical-align: top;
}
.approach__image img {
	width: 100%;
}
.approach__image{
	padding: 6px 8px 0px 9px;
	background: url("../img/portfolio-template/Mask.svg") 0 0 / 64px no-repeat;
	margin-inline-end: 15px;
}
.approach__block {
	max-width: 385px;
	padding-block-start: 5px;
}
.approach__text {
	margin-block-end: 12px;
}
.approach__text--smaller {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}
.approach__name {
	color: #391400;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
}
.service-help__head {
	margin-block-end: 17px;
}
.service-help__title {
	max-width: 340px;
	margin-block-end: 35px;
}
.service-help__cards {
	font-size: 0;
}
.service-help__cards > * {
	display: inline-block;
	vertical-align: middle;
}
.service-help__cards {
	border: 1px solid #F3D1BF;
	border-radius: 10px;
}
.card {
	max-width: 33.333%;
	width: 100%;
	padding: 48px 48px 52px 48px;
	border-inline: 1px solid #F3D1BF;
}
.card--border-zero {
	border-inline: 0;
}
.card__image {
	padding: 24px;
	width: 80px;
	height: 80px;
	background: url("../img/portfolio-template/oval.svg") 0 0 / 80px no-repeat;
	margin-block-end: 41px;
}
.card__image--padding {
	padding: 26px 24px 28px;
}
.card__subject {
	margin-block-end: 20px;
}
.card__text {
	margin-block-end: 26px;
}
.footer {
	font-size: 100px;
	text-align: center;
	background-color: gray;
	color: brown;
	padding-bottom: 5px;
}
