@import url("reset.css");

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
	max-width: 1440px;
	padding-inline: 15px;
	margin-inline: auto;
}

.page {
	text-transform: uppercase;
}

.raster {
	padding-block-start: 50px;
}

.item:not(:last-child) {
	margin-block-end: 50px;
}