@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:regular,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kelly+Slab&display=swap");
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.header {
	font-size: 100px;
	text-align: center;
	background-color: gray;
	color: brown;
}
/* --------------BUSINESS-------------- */
[class*="__container"] {
	max-width: 1740px;
	padding-inline: 15px;
	margin-inline: auto;
}
.business-presentation {
	font-family: "DM Sans", serif;
	padding-block: 100px;
}
.business-presentation__content>* {
	display: inline-block;
	vertical-align: middle;
}
.business-presentation__first-section {
	max-width: 690px;
	margin-inline-end: 12px;
	margin-right: 120px;
}
.section-first__image {
	margin-bottom: 28px;
}
.section-first__title {
	font-size: 88px;
	font-weight: 700;
	line-height: 95px;
	margin-bottom: 20px;
}
.section-first__text {
	font-size: 24px;
	line-height: 42px;
}
.business-presentation__second-section {
	max-width: 890px;
}
.section-second__items>*:not(:last-child) {
	margin-block-end: 54px;
}
.section-second__item {
	font-size: 0;
}
.item-section-second>* {
	display: inline-block;
	vertical-align: middle;
}
.item-section-second__number {
	text-align: center;
	color: #4A3AFF;
	padding: 62.5px 15px;
	background-color: rgba(74, 58, 255, 0.1);
	border-radius: 50%;
	width: 218px;
	height: 218px;
	font-size: 88px;
	font-weight: 700;
	line-height: 95px;
	margin-right: 42px;
}
.item-section-second__info {
	max-width: 630px;
}
.item-section-second__info>*:not(:last-child) {
	margin-block-end: 8px;
}
.item-section-second__date {
	color: #4A3AFF;
	font-size: 20px;
	font-weight: 700;
	line-height: 22px;
}
.item-section-second__subtitle {
	font-size: 42px;
	font-weight: 700;
	line-height: 54px;
}
.item-section-second__subtitle--discovery::after,
.item-section-second__subtitle--development::after,
.item-section-second__subtitle--launch::after {
	content: "";
	width: 45px;
	height: 45px;
	vertical-align: top;
	margin-left: 10px;	
}
.item-section-second__subtitle--discovery::after {
	background: url("../img/business-presentation/emoji_1.png") 0 0 / 45px no-repeat;
}
.item-section-second__subtitle--development::after {
	background: url("../img/business-presentation/emoji_2.png") 0 0 / 45px no-repeat;
}
.item-section-second__subtitle--launch::after {
	background: url("../img/business-presentation/emoji_3.png") 0 0 / 45px no-repeat;
}
.item-section-second__text {
	font-size: 24px;
	font-weight: 400;
	line-height: 42px;
}
/* --------------PRICE-------------- */
.price {
	font-family: "DM Sans", serif;
	padding-block: 100px;
}

.price__title {
	font-size: 88px;
	font-weight: 700;
	line-height: 95px;
	margin-bottom: 50px;
}

.price__items>* {
	display: inline-block;
	vertical-align: middle;
}

.price__item {
	min-width: 31.842%;
	border-radius: 56px;
	background-color: #F0F0F6;
	padding: 24px 24px 58px;
	transition: 0.5s;
}
.price__item:hover {
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}
.item-price:not(:last-child) {
	margin-right: 34px;
}

.item-price__card {
	padding: 44px;
	border-radius: 34px;
	background-color: #4A3AFF;
	text-align: center;
	color: white;
	margin-block-end: 34px;
}
.item-price__title {
	font-size: 30px;
	font-weight: 700;
	line-height: 32px;
	opacity: 0.9;
}

.item-price__value {
	font-style: normal;
	font-size: 116px;
	font-weight: 700;
	line-height: 120px;
}

.item-price__text {
	color: white;
	font-size: 20px;
	font-weight: 700;
	line-height: 22px;
	opacity: 0.5;
}
.list-price__item {
	padding-inline-start: 13px;
	font-size: 28px;
	font-weight: 700;
	line-height: 38px;
}
.list-price__item::before {
	vertical-align: middle;
	content: "";
	width: 36px;
	height: 36px;
	margin-inline-end: 14px;
	background: url("../img/business-presentation/chech-circle.png") 0 0 / 36px no-repeat;
	margin-block-end: 7px;

}
.list-price__item:not(:last-child) {
	margin-block-end: 26px;
}
/* --------------TEMPLATE-------------- */

.template {
	font-family: "Epilogue", sans-serif;
	padding-block-end: 100px;
	background-color: rgb(253, 240, 233);
	max-width: 100%;
	padding-block: 100px;
}
.template h2, h3, h4 {
	color: #391400;
}
.template__container {
	max-width: 1000px;
	padding-inline: 15px;
}
.template h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	margin-block-end: 35px;
}
.template__title {
	font-size: 56px;
	font-weight: 800;
	line-height: 64px;
	padding-inline: 200px;
	margin-block-end: 100px;
}
.template__image {
	margin-block-end: 74px;
}
.template__image img {
	border-radius: 15px;
}
.template__second-container {
	max-width: 600px;
	padding-inline: 15px;
	margin-inline: auto;
}
.template p {
	color: rgba(57, 20, 0, 0.64);
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
}
.template__agency {
	margin-block-end: 51px;
}
.agency-template__title {
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
	margin-block-end: 32px;
}
.template__promote {
	margin-block-end: 65px;
}
.promote-template__text:not(:last-child) {
	margin-block-end: 34px;
}
.promote-template__list {
	margin-block-end: 32px;
}
.promote-template__item::before {
	content: "";
	background-color: #EF6D58;
	width: 8px;
	height: 8px;
	vertical-align: middle;
	border-radius: 50%;
	margin-inline-end: 16px;
	margin-bottom: 3px;
}
.promote-template__item, .service-template__item {
	color: #391400;
	font-size: 16px;
	font-weight: 400;
	line-height: 2;
}
.service-template {
	margin-block-end: 69px;
}
.service-template__text:not(:last-child) {
	margin-block-end: 28px;
}
.service-template__list {
	padding-inline-start: 17px;
	margin-block-end: 32px;
}
.service-template__item {
	list-style-type: decimal;
}
.provide-template__slogan {
	background: #F9E5DA url("../img/portfolio-template/shape.png") 32px 46px / 48px no-repeat;
	padding: 42px 32px 32px 112px;
	border-radius: 5px;
	margin-block-end: 76px;
}
.provide-template__slogan p {
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
}
/* ----------GAME---------- */
.game {
	font-family: "Kelly slab", sans-serif;
	padding-block: 100px;
}
.game__title {
	font-size: 100px;
	text-align: center;
	margin-block-end: 80px;
}
.game__container {
	max-width: 1500px;
	padding-inline: 15px;
}
.game__items {
	width: 800px;
	height: 450px;
	margin-inline: auto;
	background: url("../img/game/background_game.jpg") 0 0 / 100% no-repeat;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}
.game__item--decor {
	color: #F0F0F6;
	background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
	visibility: hidden;
}

.game__item--start {
	color: #F0F0F6;
	background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
	display: inline-block;
	text-align: center;
	font-size: 50px;
	padding: 10px 20px;
}
.game__item--1 {
	height: 100px;
	width: 30px;
	margin-left: 115px;
}
.game__item--2 {
	height: 25px;
	width: 150px;
	margin-left: 115px;
}
.game__item--3 {
	height: 150px;
	width: 20px;
	margin-top: -150px;
	margin-left: 265px;
}
.game__item--4 {
	height: 30px;
	width: 250px;
	margin-top: -150px;
	margin-left: 285px;
}
.game__item--5 {
	height: 250px;
	width: 20px;
	margin-top: -30px;
	margin-left: 528px;
}
.game__item--6 {
	height: 20px;
	width: 450px;
	margin-left: 98px;
}
.game__item--7 {
	width: 10px;
	height: 94px;
	margin-left: 98px;
}
.game__item--8 {
	width: 404px;
	height: 10px;
	margin-left: 98px;
}
.game__item--finish {
	display: inline-block;
	text-align: center;
	font-size: 50px;
	padding: 10px 20px;
	margin-top: -50px;
	margin-left: 500px;
}
.game__item:hover+.game__item,
.game__item:hover {
	visibility: visible;
}
/* .game__item--start:hover + .game__item--1, 
.game__item--1:hover {
	visibility: visible;
}
.game__item--1:hover + .game__item--2, 
.game__item--2:hover {
	visibility: visible;
}
.game__item--2:hover + .game__item--3, 
.game__item--3:hover {
	visibility: visible;
}
.game__item--3:hover + .game__item--4, 
.game__item--4:hover {
	visibility: visible;
}
.game__item--4:hover+.game__item--5,
.game__item--5:hover {
	visibility: visible;
}
.game__item--5:hover+.game__item--6,
.game__item--6:hover {
	visibility: visible;
}
.game__item--6:hover+.game__item--7,
.game__item--7:hover {
	visibility: visible;
}
.game__item--7:hover+.game__item--8,
.game__item--8:hover {
	visibility: visible;
}
.game__item--8:hover+.game__item--finish, 
.game__item--finish:hover {
	visibility: visible;
} */
.footer {
	font-size: 100px;
	text-align: center;
	background-color: gray;
	color: brown;
	padding-bottom: 5px;
}