@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

body {
	font-family: "Montserrat", sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1230px;
	padding-inline: 15px;
	margin-inline: auto;
}

.header {
	padding-block: 28px 25px;
	background: url("../img/Rectangle.png") center / cover no-repeat;
}

.header__container {
	display: flex;
	justify-content: space-between;
	column-gap: 10px;
	align-items: center;
}
.header__logo-block {
	display: flex;
	align-items: center;
	column-gap: 6px;
	flex-shrink: 0;

	z-index: 15;
}

.header__name {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	line-height: 150%;
}

.menu {
	display: flex;
	column-gap: 30px;
}
.menu__item {
	font-size: 13px;
	font-weight: 500;
	line-height: 150%;
	text-transform: uppercase;
}

.header__btn {
	display: inline-flex;
	flex-shrink: 0;
	font-size: 16px;
	font-weight: 500;
	color: white;
	border-radius: 50px;
	background-color: #f26522;
	padding: 8px 30px;
	
	align-items: center;
	gap: 8px;
	z-index: 15;
}

.header__btn::after {
	content: "";
	width: 24px;
	height: 24px;
	background: url("../img/arrow-white.svg") center / contain no-repeat;
}

.burger-menu {
	display: none;
}

@media (max-width: 991.98px) {
	.header__name {
		display: none;
	}

	.menu {
		column-gap: 25px;
	}
}

@media (max-width: 767.98px) {

	
	.burger-menu {
		position: relative;
		display: block;
		width: 40px;
		height: 25px;
		z-index: 10;
	}
	
	.burger-menu::before,
	.burger-menu::after,
	.burger-menu span { 
		position: absolute;
		content: "";
		width: 100%;
		height: 2px;
		left: 0;
		background-color: black;
		transition: all 0.2s;
	}
	
	.burger-menu::before {
		top: 0;
	}
	.burger-menu::after {
		bottom: 0;
	}
	.burger-menu span {
		top: 50%;
		transform: translateY(-50%);
	}
	
	.menu {
		opacity: 0;
		visibility: hidden;

		position: fixed;
		overflow: auto;
		width: 100%;
		height: 100%;
		flex-direction: column;
		align-items: stretch;
		row-gap: 30px;
		right: -100%;
		top: 0;
		padding: 118px 15px 15px 30px;
		z-index: 9;
		background-color: #f26522;
		color: white;
		transition: all 0.3s;
	}
	
	.menu-open .menu {
		opacity: 1;
		visibility: visible;
		right: 0;
	}

	.menu::before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100px;
		background: url("../img/Rectangle.png") center / cover no-repeat;
	}
	
	.menu-open .burger-menu span {
		width: 0;
	}

	.menu-open .burger-menu::before {
		top: 50%;;
		transform: rotate(45deg);
	}

	.menu-open .burger-menu::after {
		top: 50%;
		transform: rotate(-45deg);
	}

	.menu__item {
		font-size: 28px;
		text-align: center;
	}
}

@media (any-hover: hover) {
	.menu__item a:hover {
	text-decoration-line: underline;
	}

	.header__btn:hover {
	background-color: #d6561b;
	text-decoration: underline;
	}
}